table {
  width: 100%;
}
.td-buttons-wrap {
  width: 80px;
}

.spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;

  .mat-spinner {
    position: absolute;
    top: 35%;
    left: 40%;
  }
}
