<div class="page-layout simple p-24">
  <!--Spinner-->
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <!--Event Link-->
  <div class="mb-12" fxLayout="row" fxLayout.xs="column"
       fxLayoutAlign="space-between center">
    <span class="mat-headline">Bank List</span>
    <button mat-raised-button color="primary" [routerLink]="['/banks/new']" *fuseAppCanAccess="['Bank', 'is_create']">Add</button>
  </div>

  <!--Search Pane-->
  <div class="mat-card mb-12 p-12" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field fxFlex="100" class="ml-12" fxLayoutAlign="center">
      <mat-icon matSuffix class="secondary-text">home</mat-icon>
      <input matInput placeholder="Search Bank Name" #search_name>
    </mat-form-field>
  </div>

  <!--Date Table Panel-->
  <div class="mat-card">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <!-- Currency Column -->
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef>Currency</th>
        <td mat-cell *matCellDef="let element">{{element.currency ? element.currency.name : ''}}</td>
      </ng-container>

      <!-- Is_Online Column -->
      <ng-container matColumnDef="is_online">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Is_Online?</th>
        <td mat-cell *matCellDef="let element">{{element.is_online ? 'YES' : 'NO'}}</td>
      </ng-container>

      <!-- Is_Active Column -->
      <ng-container matColumnDef="is_active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Is_Active?</th>
        <td mat-cell *matCellDef="let element">{{element.is_active ? 'YES' : 'NO'}}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element" class="td-buttons-wrap">
          <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                  (click)="$event.stopPropagation();">
            <mat-icon class="secondary-text">more_vert</mat-icon>
          </button>

          <mat-menu #moreMenu="matMenu">
            <button mat-menu-item aria-label="edit" [routerLink]="['/banks/edit', element.id]" *fuseAppCanAccess="['Bank', 'is_update']">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>

            <button mat-menu-item aria-label="remove" (click)="deleteBank(element)" *fuseAppCanAccess="['Bank', 'is_delete']">
              <mat-icon>delete</mat-icon>
              <span>Remove</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="total_items" [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
